.ipynb_checkpoints
.env
src/__pycache__
sql_data/new_alb
**/.DS_Store 
**/*.ipynb_checkpoints/ 
**/__pycache__
src/scrodos.py
src/sql_tools.py
output/discos.json
newalb_obsoleto.py
notebookspruebas
notebookslaptop
output_obsoleto
notebooks/00_Predicciones.ipynb
output/listas_rep